@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide native calendar icon in Chrome / Edge / Safari */
input[type="date"].no-native-picker::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

/* Optional: hide inner spin buttons (some browsers) */
input[type="date"].no-native-picker::-webkit-inner-spin-button {
  display: none;
}

/* For consistency */
input[type="date"].no-native-picker {
  appearance: none;
  -webkit-appearance: none;
}
